<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' 
      xmlns:og='http://ogp.me/ns#'>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Photogram - Seus convidados fazendo a sua festa</title>

	<!-- metas -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta property='og:title' content='Photogram - Seus convidados fazendo a sua festa' />
	<meta property='og:description' content='Photogram eh o novo aplicativo para tomar conta do seu evento.' />
	<meta property='og:url' content='http://www.photogrambrazil.com.br' />
	<meta property='og:image' content='/images/logo-square.png' />
	<meta property='og:type' content='website' />
	<meta property='og:site_name' content='Photogram' />

	<!-- fav icon -->
	<link rel="shortcut icon" href="/images/favicon.ico">

	<!-- css -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/app.css">

	<!-- script -->
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/jquery.1.9.min.js"></script>
	<script src="/js/handlebarsjs.1.0.min.js"></script>

	<script type="text/javascript">
        function OnChangeCheckbox (checkbox) {
            if (checkbox.checked) {
                //alert ("The check box is checked.");
                $.ajax({  
			         type: "POST",  
			         url: "http://test-gram.herokuapp.com/insert",  
			         data: "insert=" + checkbox.value,  
			         success: function(response){  
			             $('#info').html("OK! Data Sent with Response:" + response);  
			         },  
			         error: function(e){  
			             $('#info').html("OH NOES! Data not sent with Error:" + e);
			         }  
			     });
            }
            else {
                $.ajax({  
			         type: "POST",  
			         url: "http://test-gram.herokuapp.com/remove",  
			         data: "remove=" + checkbox.value,  
			         success: function(response){  
			             $('#info').html("OK! Data Sent with Response:" + response);  
			         },  
			         error: function(e){  
			             $('#info').html("OH NOES! Data not sent with Error:" + e);
			         }  
			     });
            }
        }
    </script>

	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

</head>
<body>

	<!--[if lt IE 9]>
      <p class="browsehappy Hfwb" style="color: black; font-size: 22px;">You are using an <strong style="color: #999;">outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience on Lollagram.</p>
  <![endif]-->

	<!--[if lt IE 9]>
      <div class="Hdn">
  <![endif]-->

	<!--********************************
	ABOUT
	*********************************-->
	<div class="aboutWrap active">
		<div id="about">
			<span class="btClose Hdb Hfr" id="js-closeAbout">
				<a href="#close" title="Fechar janela" class="Hir">close</a>
			</span>
			<h1 class="tit">Photogram</h1>
			<p class="desc">Videos. Fotos. Momentos.</p>
			<p class="desc">Com <a href="http://www.photogrambrazil.com" title="Photoram">Photogram</a> voce podera deixar seu evento muito mais divertido.</p>

			<p class="desc"> O<strong class="Hfwb"> Photogram</strong> ira procurar por fotos e posts que tenham a hashtag desejada. </p>

			<center>
				<form name="chooseHash" class="desc" method="GET">
					<input type="text" name="hub.tag" value="Hashtag" style="color:#d3d3d3" onblur="if(this.value == '') {this.style.color='#d3d3d3'; this.value='Hashtag'}" onfocus="if (this.value == 'Hashtag') {this.style.color='#000000'; this.value=''}">
					<input type="submit" name="submit" value="Assinar">
					<input type="submit" name="submit" value="Cancelar">
				</form>

				<script type="text/javascript">
				$(function(){
				    $('form[name="chooseHash"] input[type="submit"]').click(function(event){
				           var $form = $('form[name="chooseHash"]');
				           if($(this).val()=='Assinar'){
				               $form.attr('action','http://test-gram.heroku.com/subscribe/');
				           }
				            else{
				                $form.attr('action','http://test-gram.heroku.com/unsubscribe/');
				            }
				    });
				    
				    $('form[name="myform"]').submit(function(event){
				        alert("form action : " + $(this).attr('action'));
				        event.preventDefault();
				    });
				});
				</script>
			</center>
		</div>
	</div>

	<!--********************************
	TOP
	*********************************-->
	<div class="topFill"></div>

	<!--********************************
	ASIDE
	*********************************-->
	<aside id="aside">
		<!--<header>
			<h1 class="logo"><a href="#" title="Test-gram - seu evento coberto por seus amigos" class="Hdb"><img src="/images/logo-square.jpg" alt="Test-gram bla bla bla bla" class="Hdib"></a></h1>
		</header>

		<!-- mobile nav button -->
		<a href="#mobile-navigation" class="mobNav" id="js-mobNav">
			<span class="iconBar"></span>
			<span class="iconBar"></span>
			<span class="iconBar"></span>
		</a>
		<!-- mobile nav button / end -->

		<nav class="nav">
			<ul>
				<li>
					<a href="#" title="about" class="extra" id="js-btAbout"> Sobre </a>
				</li>
			</ul>
		</nav>
	</aside>

	<!--********************************
	IMAGE WRAPPER - content
	*********************************-->
	<div id="imgContent" class="Hcf"></div>


	<script id="firstShow-tpl" type="text/x-handlebars-template">
	{{#each firstShow}}
		<a title="@{{user.username}}: {{caption.text}}">
			<input type="checkbox" onclick="OnChangeCheckbox (this)" value="{{images.standard_resolution.url}}"/>
			<img class="native-hidden" src="{{images.standard_resolution.url}}" alt="@{{user.username}}: {{caption.text}}" />
		</a>
	{{/each}}
	</script>
	<script id="mostRecent-tpl" type="text/x-handlebars-template">
		<a title="@{{data.0.user.username}}: {{data.0.caption.text}}" >
			<input type="checkbox" onclick="OnChangeCheckbox (this)" value="{{data.0.images.standard_resolution.url}}"/>
			<img src="{{data.0.images.standard_resolution.url}}" alt="@{{data.0.user.username}}: {{caption.text}}" />
		</a>
	</script>	
	<!--********************************
	FOOTER
	*********************************-->
	<footer id="footer">
		<div class="bottom">
			<ul class="socialShare Hfl">
				<li><a href="http://www.facebook.com/photogrambrazil" class="icon icon-fb" target="_blank"></a></li>
				<li><a href="http://twitter.com/home?status=Usando%20o%20%23Photogram%20sua%20festa%20vai%20ficar%20muito%20mais%20legal.%20Acesse:%20www.photogrambrazil.com.br" class="icon icon-tt" target="_blank"></a></li>
				<li><a href="https://plus.google.com/share?url=http://www.photogrambrazil.com.br" class="icon icon-g" target="_blank"></a></li>
				<li><a href="mailto:?subject=Festa%20com%20Photogram%3A%20PhotogramBrazil.com.br&body=Da%20uma%20olhada%20nesse%20site%20para%20cobrir%20festas%20e%20eventos%20em%20tempo%20real.%20http%3A%2F%2Fwww.photogrambrazil.com.br" class="icon icon-email" target="_blank"></a></li>
			</ul>
		</div>
	</footer>

	<!-- CALL MAIN APP SCRIPT -->	
	<script src="/js/app.js"></script>

	<!--[if lt IE 9]>
    </div>
  <![endif]-->
</body>
</html>
