<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!-- For intranet testing only, remove in production. -->
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Slide Show</title>
	<style>
		#slideShowImages { /* The following CSS rules are optional. */
			border: 1px gray solid;
			background-color: lightgray;
		}	 
	
		#slideShowImages img { /* The following CSS rules are optional. */
			border: 0.8em black solid;
			padding: 3px;
		}	 
	</style>
</head>

<body>
	<div id="slideShowImages">
		<!--<script id="slideShow-tpl" type="text/x-handlebars-template">
			<a title="@{{data.0.user.username}}: {{data.0.caption.text}}" >
				<img src="{{data.0.images.standard_resolution.url}}" alt="@{{data.0.user.username}}: {{caption.text}}" />
			</a>
		</script>-->
		<img class="native-hidden" src="http://scontent-a.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/10919231_789351707807809_1069528516_n.jpg" alt="@ferfolima: Parabéns #lineufc dois anos de amizade e familia">
		<img class="native-hidden" src="http://scontent-a.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/10914377_768160043278647_1052840723_n.jpg" alt="@lucas_poli: Sempre um prazer estar em campo com vocês! #lineufc  #capita #volantao #mordendo #Arqplast #vitoria #invictos">
		<img class="native-hidden" src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/10890636_1382171748754682_865671795_n.jpg" alt="@rodrigotdelima: Pq tava calor.. Pq ru estava com sede.. Pq o #LineuFC eh assim.. Hahahaha :)">
	</div>
	<script src="slideShow.js"></script>
</body>

</html>
