<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!-- For intranet testing only, remove in production. -->
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Slide Show</title>
	<style>
		#slideShowImages { /* The following CSS rules are optional. */
			border: 1px gray solid;
			background-color: lightgray;
		}	 
	
		#slideShowImages img { /* The following CSS rules are optional. */
			border: 0.8em black solid;
			padding: 3px;
		}
		.center {
		    margin-left: auto;
		    margin-right: auto;
		    width: 70%;
		    background-color: #b0e0e6;
		}	 
	</style>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/jquery.1.9.min.js"></script>
	<script src="/js/handlebarsjs.1.0.min.js"></script>
</head>

<body>
	<div id="slideShowImages" class="center">
		<img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/1742776_465227783624305_833406645_n.jpg" alt="teste">
		<img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/10963817_357762687744734_875002345_n.jpg" alt="teste">
		<img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/10964073_750639048383983_2130489261_n.jpg" alt="teste">
		<img src="http://scontent-b.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/1597620_1594041374164133_2123982702_n.jpg" alt="teste">
	</div>
	<script id="slideShow-tpl" type="text/x-handlebars-template">
			<img src="{{insert}}" alt="teste" />
	</script>
</body>
<script src="/js/slideShowImg.js"></script>
<script src="/js/slideShow.js"></script>

</html>
