
/* ==========================================================================
   Helpers: UI - Layout class helpers
   ========================================================================== */
.Hfl{float:left}.Hfr{float:right}.Hfn{float:none}.Hcaps{text-transform:uppercase}.Hir{display:block;text-indent:-99999px}.Htxtl{text-align:left}.Htxtr{text-align:right}.Htxtj{text-align:justify}.Htxtc{text-align:center}.Hdn{display:none}.Hdb{display:block}.Hdi{display:inline}.Hdib{display:inline-block}.Hv{visibility:visible}.Hvh{visibility:hidden}.Hcb{clear:both}.Hcf:after{content:"";display:table;clear:both}.Hnmg{margin:0}.Hnpd{padding:0}.Hnmp{margin:0;padding:0}.Hmgc{margin:0 auto}.Hbdn{border:0}.Hfwb{font-weight:bold}.Hfwn{font-weight:normal}.Hcp{cursor:pointer}.Hcd{cursor:default}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  	-webkit-box-sizing: border-box;
     	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
  	-webkit-font-smoothing: antialiased;
}

/* font-family: 'Open Sans', sans-serif; */

body {
	background: url(../images/bg.jpg) repeat 0 0;
	font-size: 62.5%;
  	font-family: 'Open Sans', sans-serif;
  	overflow-x: hidden;
}

img {
  	max-width: 100%;
}

ul, 
ol, 
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: #fcbc34;
	text-decoration: none;
}

/* ==========================================================================
   UI styles: UI Oriented
   ========================================================================== */
.icon {
	display: block;
}
.icon.bt-close {
	background: url(../images/bt-close.png) no-repeat 0 0;
	width: 42px;
	height: 41px;
}

/* ==========================================================================
   Layout styles: Layout Oriented
   ========================================================================== */

/***********
* @top fill
************/
.topFill {
	position: fixed;
	top: 0;
  	left: 13.5%;
	background: url(../images/top-fill.jpg) repeat-x 0 0;
 	background-size: cover;
	width: 100%;
	height: 8px;
	z-index: 45;
}

/***********
* @aside
************/
#aside {
	position: fixed;
	left: 0;
	width: 16.66666%;
	z-index: 40;
  	border-top: 8px solid #f34e52;
}

/***********
* @logo
************/
.logo {
	background: #fff;
}
.logo img {
  	display: block;
	width: 100%;
}

/***********
* @nav
************/

.nav {
  	position: fixed;
	bottom: 15px;
	right:15px;
	background: rgba(255,255,255, 0.9);
}

.nav a {
	display: block;
	padding: 2% 20%% 2% 20%%;
	font-size: 18px;
	font-size: 1.1rem;
}
.nav .latest { 
	font-weight: bold;
}
.nav .extra { 
	color: #aaaaa9;
}

/* mobile nav */
.mobNav {
  	display: none;
  	margin: 25px 10px 0 0;
}
.mobNav:hover .iconBar {
  	background: #f34e52;
}
.iconBar {
  	background: #333;
  	display: block;
  	width: 22px;
  	height: 2px;
  	margin: 5px 0;
}

/***********
* @about
************/
.aboutWrap {
  	position: absolute;
  	top: 58px;
  	right: 0;
  	width: 100%;
  	z-index: 50;
  	transform: translateX(-10000px);
  	-webkit-transform: translateX(-10000px);
  	-moz-transform: translateX(-10000px);
  	-ms-transform: translateX(-10000px);
}

.aboutWrap.active {
  	transform: translateX(0px);
  	-webkit-transform: translateX(0px);
  	-moz-transform: translateX(0px);
  	-ms-transform: translateX(0px);
}

#about {
  	background: rgba(255,255,255, 0.9);
  	max-width: 700px;
  	margin: 0 auto;
  	padding: 2%;
  	-moz-box-shadow: inset 6px 4px 10px -7px #000;
  	-webkit-box-shadow: inset 6px 4px 10px -7px #000;
  	box-shadow: inset 6px 4px 10px -7px #000;
}

#about .tit {
  	font-size: 28px;
  	font-size: 1.8rem;
}
#about .desc {
  	font-size: 15px;
  	font-size: 0.9rem;
  	margin: 15px 0;
}

#about .tit, 
#about .desc {
  	color: #1d1d1d;
}

#about .desc a {
  	font-weight: bold;
  	color: #333;
  	text-decoration: underline;
}

.btClose {
  	float: right;
  	margin: 2% 2% 0 0;
}

.btClose a {
  	background: url(../images/bt-close.png) no-repeat 0 0;
  	width: 42px;
  	height: 42px;
  	display: block;
}

/***********
* @Image wrapper
************/
#imgContent {
	width: 100%;
	padding: 8px;
}

#imgContent .animated {
	position: relative;
	z-index: 10;
}

#imgContent a {
	float: left;
	width: 200px;
	height: 200px;
	padding: 0.25% 0.25% 0.25% 0.25%;
}

#imgContent img { 
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	        transition: all 0.5s ease;
	border: 10px solid #fff;
	float: left;
	overflow: hidden;
	-webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
	display: block; 
}

#imgContent input[type=checkbox]:checked ~ img {
	border-radius: 50%;
	  -webkit-transform: rotate(360deg) scale(0.5);
	     -moz-transform: rotate(360deg) scale(0.5);
	       -o-transform: rotate(360deg) scale(0.5);
	      -ms-transform: rotate(360deg) scale(0.5);
	          transform: rotate(360deg) scale(0.5); 
}

#imgContent input[type=checkbox]{
	position: absolute;
	width: 200px;
	height: 200px;
	opacity: 0.05;
	z-index: 40;
}

/***********
* @footer
************/
#footer {
	position: fixed;
	bottom: 0;
	/*background: url(../images/bg-footer.png) no-repeat 0;*/
	background-size: cover;
	width: 100%;
	height: 302px;
	z-index: 30;
	pointer-events: none;
}

#footer .bottom {
  	width: 100%;
  	height: 50px;
	position: absolute;
  	bottom: 5px;
  	pointer-events: auto;
}

/* social share */
.socialShare {
  	margin: 10px 0 0 2%;
}

.socialShare li {
  	float: left;
  	margin: 0 10px 0 0;
}

.socialShare .icon {
  	background: url(../images/sprite-social.png) no-repeat;
  	width: 25px;
  	height: 27px;
}

.icon.icon-fb { 
	background-position: 0px 3px; 
}

.icon.icon-tt { 
	background-position: -45px 0px; 
}

.icon.icon-g { 
	background-position: -90px 2px; 
}

.icon.icon-email { 
	background-position: -135px 1px; 
}

.bottomLogo {
  	margin: -7px 5% 0 0;
}
