

/* For generic page styles. Not for sliders. */
html {
	margin: 0;
	background:#eee;
}

body {
	margin: 0;
	font:normal 0.9em Arial;
	overflow: hidden;
}

#dimscreen {
	position:absolute;
    width:100%;
    height:100%;
    top:-100%;
    float:top;
    background: rgba(0,0,0,0.9);
    -webkit-transition:top 1.5s ease-in-out;
    -moz-transition: top 1.5s ease-in-out;
		-o-transition: top 1.5s ease-in-out;
		transition: top 1.5s ease-in-out;
    z-index:100;
}

#dimscreen td{
	vertical-align: middle;
	text-align: center;
}

#dimscreen img{
	border-radius:3px;
	box-shadow:0 0 1px 0 rgba(255,255,255,0.8),0 0 100px 5px rgba(255,255,255,0.5);
}

#bg{
	background:url('../images/bg.jpg') repeat 0 0;

	min-height: 100%;
	min-width: 1024px;

	width: 100%;
	height: auto;

	position:fixed;
	top:0;
	left:0;

	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	z-index: -1;
}

h1 {
	display:inline;
	color:white;
	font-size: 100px;
}

@font-face{
	font-family: "berlin-sans-fb-demi-bold";
	src: url("../font/berlin-sans-fb-demi-bold.ttf") format("truetype")
}

.berlin-font{
	font-family: "berlin-sans-fb-demi-bold";
	font-style: italic;
	/*font-weight: bold;*/
	text-align:center;
	font-size:48px;
	color:rgb(63,114,155);
	margin: 0 100px 0 0;
}

.berlin-font2{
	font-family: "berlin-sans-fb-demi-bold";
	font-style: italic;
	/*font-weight: bold;*/
	/*text-align:center;*/
	font-size:16px;
	color:rgba(0,0,0,0.5);
}

.div-central{
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.outter-box{
	display: table-cell;
  vertical-align: middle;
}

.middle-box{
	/*background: rgba(221,221,221,0.4);*/
	border:0;
	/*border-radius:3px;*/
	/*box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);*/
	width:1200px;
	margin-left: auto;
	margin-right: auto;
}

.inner-box{
	/*background:#FFF;*/
	border:0;
	/*border-radius:3px;*/
	/*box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);*/
	margin-left: auto;
  margin-right: auto;
  width: 100%;
	height: auto;
}

.slider-for img{
	width: 600px;
}
.slider-for2 img{
	width: 600px;
}
.fotografia {
	background-color: white;
	/*-webkit-border-image: url(/images/border.png) 250 round;*/
	/*transition: 1s;
	-webkit-filter: grayscale(1) blur(5px);
	-webkit-transform: matrix3d(
		0.2,	-0.05,	0,	-0.0006,
		0,	0.6,	0,	0,
		0,	0,	1,	0,
		-10,	15,	0,	1
	);*/
	width: 600px;
	margin: -10px 15px 0 15px
}

/*.slick-center {
	transition: 1s;
	-webkit-filter: grayscale(0) blur(0);
	-webkit-transform: matrix3d(
		1,	0,	0,	0,
		0,	1,	0,	0,
		0,	0,	1,	0,
		0,	0,	0,	1
	)
}*/

/*.slick-center{
	margin-left: -100px;
	margin-right: -100px;
}*/

.title{
	font-size:160%;
}

.title img{
	float:left;
	width:100px;
	vertical-align:middle;
}

.title a{
	text-align: center;
	font-weight:bold;
	color:rgb(63,114,155);
}

.title p{
	color:rgb(128,133,137);
	display:inline;
}

.hashid img{
	float:left;
	width: 100px;
	vertical-align:middle;
	/*margin: 0px 10px 0px 10px;*/
}

/*.hashid p{
	display:inline;
	text-align: center;
}*/

footer p{
	text-align: center;
	padding-top: 28px;
}

#menu{
    position:absolute;
    width:100%;
    height:200px;
    bottom:-185px;
    float:bottom;
    background: rgba(0,0,0,0.6);
    -webkit-transition:bottom .5s ease-in-out;
    -moz-transition: bottom .5s ease-in-out;
		-o-transition: bottom .5s ease-in-out;
		transition: bottom .5s ease-in-out;
    z-index:1;
}
#menu:hover{
    bottom:0;
}

.showhide {
	padding: 0;
	margin-top: 10px;
	width: 100%;
	height: 100%;
}

.showhide td{
	vertical-align: middle;
	text-align: center;
}

.showhide img{
	border: 1px solid #000;
	width: 200px;
}

.showhide img:hover{
	box-shadow:0 0 1px 0 rgba(255,255,255,0.8),0 0 10px 5px rgba(255,255,255,0.5);
}
