<!DOCTYPE html>
<html>
<head>
    <title>Photogram - Slideshow</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="../css/iguana.css" title="iguana"/>
    <!-- <link rel="alternate stylesheet" type="text/css" href="/css/generic0.css" title="padrao"/>
    <link rel="alternate stylesheet" type="text/css" href="/css/generic2.css" title="mamcaocomacucar"/>
    <link rel="alternate stylesheet" type="text/css" href="/css/generic3.css" title="santaclara"/> -->
    <script src="/js/styleswitcher.js"></script>
    <script src="/js/socket.io.min.js"></script>
    <script src="/js/handlebarsjs.1.0.min.js"></script>
    <script src="/js/slideShowImgiguana.js"></script>
</head>
<body>
  <div id="bg"></div>
    <div class="div-central">
      <blockquote class="outter-box">
        <blockquote class="middle-box">
        <blockquote class="inner-box">
            <!-- É aqui que será adicionada a foto -->
            <div class="slider slider-for" id="slider" dir="ltr">
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/hashtagteatrogazeta.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/logo-square.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/hashtagteatrogazeta.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/logo-square.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/hashtagteatrogazeta.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/logo-square.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
            </div>
            <div class="slider slider-for" id="slider" dir="ltr">
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/hashtagteatrogazeta.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/logo-square.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/hashtagteatrogazeta.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/logo-square.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/hashtagteatrogazeta.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
                <div class = "fotografia">
                  <div class="title">
                    <img src="/images/PhotoGRAM_small.png"/>
                    <br>
                    <a>Photogram</a>
                    <p> - Iguana</p>
                  </div>
                  <img src="/images/logo-square.jpg"/>
                  <div class="hashid" id="hashid">
                    <img src="/images/logo-teatro-gazeta.png"/>
                    <p id="hashtagTitle" class="berlin-font">Photogram</p>
                  </div>
                </div>
            </div>
            <!-- É aqui que será adicionada a foto -->
        </blockquote>
        </blockquote>
      </blockquote>
        <!--<div class="slider slider-nav" id="mcts1">
        </div>-->
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/slick/slick.js"></script>
    <script type="text/javascript" src="/js/fullscreen.js"></script>



    <script id="slideShow-tpl" type="text/x-handlebars-template">
      <div class = "fotografia">
        <div class="title">
          <img src="/images/PhotoGRAM_small.png"/>
          <br>
          <a>Photogram</a>
          <p> - Iguana</p>
        </div>
        <img src="{{insert}}"/>
        <div class="hashid">
          <img src="/images/logo-teatro-gazeta.png"/>
          <p class="berlin-font hashtagTitle"></p>
        </div>
      </div>
    </script>

    <script type="text/javascript">
    $(document).ready(function(){
      $('.slider-for').slick({
        // centerMode: true,
        centerPadding: '60px',
        slidesToShow: 2,
        slidesToScroll: 2,
        arrows: false,
        variableWidth: true,
        autoplaySpeed: 4000,
        speed:1000,
        responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 3
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 1
          }
        }
      ],
      autoplay: true
        });
      });
    function populateSlider(addWrap) {
        $('.slider-for').slick('slickAdd',addWrap[0]);

        var elements = document.getElementsByClassName('fotografia');
        if(elements.length < 4 && elements.length > 1){
          $('.slider-for').slick('slidesToShow', elements.length, true);
        }
        // $('.slider-nav').slick('slickAdd',addWrap[1]);
    }
    </script>

    <!-- <script type="text/javascript">
      var picPropaganda = [];
      var dir = "/images/propaganda/teatrogazeta/";
      var fileextension = ".jpg";
      $.ajax({
          //This will retrieve the contents of the folder if the folder is configured as 'browsable'
          url: dir,
          success: function (data) {
              //Lsit all jpg file names in the page
              $(data).find("a:contains(" + fileextension + ")").each(function () {
                  var filename = this.href.replace(window.location.host, "").replace("http:///", "");
                  picPropaganda.push(filename);
              });
          }
      });

      var active = false;
      var counter = 0;

      function propaganda(){
        if(active == true){
            document.getElementById("dimscreen").style.top="-100%";
            active = false;
            // setTimeout( propaganda, 600000 );
            setTimeout( propaganda, 30000 );
          }
          else{
            document.getElementById("myImg").src = "/" + picPropaganda[counter % picPropaganda.length];
            counter++;
            document.getElementById("dimscreen").style.top="0";
            active = true;
            setTimeout( propaganda, 10000 );
          }
      }

      // setTimeout( propaganda, 600000 );
      setTimeout( propaganda, 30000 );

    </script> -->

    <!--<script type="text/javascript">
    var sPageURL = window.location.search.substring(1);
    var sParameterName = sPageURL.split('=');
    if (sParameterName[0] == 'hub.tag')
    {
        document.getElementById('hashtagTitle').innerHTML = '#' + sParameterName[1];
    }
  </script>-->

</body>
<footer>
  <!-- <div id="menu">
    <p class="berlin-font2">Style</p>
    <ul>
      <table class="showhide" id="showhide">
      <tr>
        <td><img src="/images/style_teatrogazeta.png" onclick="setActiveStyleSheet('teatrogazeta'); return false;"/></td>
        <td><img src="/images/style_padrao.png" onclick="setActiveStyleSheet('padrao'); return false;"/></td>
        <td><img src="/images/style_mamaocomacucar.png" onclick="setActiveStyleSheet('mamcaocomacucar'); return false;"/></td>
        <td><img src="/images/style_santaclara.png" onclick="setActiveStyleSheet('santaclara'); return false;"/></td>
      </tr>
      </table>
    </ul>
  </div> -->
</footer>

<!-- <div id="propaganda">
    <table class="dimscreen" id="dimscreen">
      <tr>
        <td><img id="myImg" src=""/></td>
      </tr>
    <table>
</div> -->
</html>
